{% extends "base/base.html" %} {% load static %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock %}

{% block content %}

<h1>Main page content</h1>

<div class="container">
    <div class="row">
      {% for listing in listings %}
        <div class="col-md-3 mb-4">
          <div class="card h-100">
            <div class="square-image">
              <img src="{{ listing.main_image.url }}" class="card-img-top img-fluid" alt="{{ listing.title }}">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">{{ listing.title }}</h5>
              <p class="card-text">{{ listing.price }} грн</p>
            </div>
          </div>
        </div>
  
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
          </div><div class="row">
        {% endif %}
      {% endfor %}
    </div>
</div>

{% endblock %}