body {
    background-color: #818187;
}

/* Navbar */
.navbar {
    background-color: #4d4d4f;
    height: 50px;
    margin-bottom: 10px;
}

.nav-avatar {
    width: 35px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

/* All forms */
.form-card-body {
    width: 50%;
}

.input-group-text {
    color: #c9c1c1;
    border: 1px solid;
    background-color: #4d4d4f;
}

.form-control {
    border: 1px solid #c9c1c1;
}

/* Normal buttons */
.empty-btn {
    color: #c9c1c1;
    border: 1px solid;
}
.empty-btn:hover {
    color: #818187;
    border: 1px solid;
    transition: 0.2s;
}

.filled-btn {
    background-color: #c9c1c1;
    color: #4d4d4f;
}
.filled-btn:hover {
    color: #c9c1c1;
    border: 1px solid;
    transition: 0.2s;
}

/* Navbar buttons */
.nav-btn {
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    display: inline-block;
    padding-inline: 10px;
    border-radius: 10px;
}

.active-nav-btn {
    background-color: #c9c1c1;
    color: #4d4d4f;;
}
.active-nav-btn:hover {
    color: #4d4d4f;;
}

.nav-main-btn {
    color: #c9c1c1;
    background-color: transparent;
    border: none;
}
.nav-main-btn:hover {
    color: #c9c1c1;
}

/* Content */
.content-card {
    background-color: #4d4d4f;
    color: #c9c1c1;
    border: none;
    padding: 10px;
}

.user-profile-link {
    font-weight: bold;
    color: #c9c1c1;
}
.user-profile-link:hover {
    color: #818187;
    transition: 0.2s;
}

.square-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .square-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }