body {
    background-color: #575555;
}

.navbar {
    background-color: #088a98;
}

.nav-item {
    text-decoration: none;
    color: white;
    display: inline-block;
}


.base-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}